h1 {

    color: "#604FC2";
    text-align: center;
    font-family: 'Impact';
    font-size: 50px;

}

p {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 20px;
    color:#8b6d35;
}

.titre {
    text-align: center;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 100px;
    color: #54f1dc;
}

body {
    background-image: url('../images/hacker2.jpeg'); 
}

a {
    color: #FF5733;
}

.raph {
    background-image:url('../images/tobias-reich-jycCp4KQ73M-unsplash\ -\ Copie.jpg');
    background-attachment: fixed;
    text-align: center;
    font-size:4em;
    border-radius: 200px;
    padding: 100px;
    color: #a169c2;
}
