h1 {

    color: "#604FC2";
    text-align: center;
    font-family: 'Impact';
    font-size: 50px;

}

p {
    text-align: center;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 30px;
    color:#fcfbf9;
}

.titre {
    text-align: center;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 100px;
    background: linear-gradient(to right, rgb(225, 221, 226), rgb(244, 121, 240));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.by {
    text-align: center;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 50px;
    background: linear-gradient(to left, rgb(225, 221, 226), rgb(121,121,244));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body {
    background: linear-gradient(#eae07f, #ed54af);
}

a {
    color: #648fe0;
}

.raph {
    background-image:url('../images/bin.jpg');
    background-attachment: fixed;
    text-align: center;
    font-size:4em;
    border-radius: 200px;
    padding: 100px;
    color: #a169c2;
}

button {
    background-color: aqua;
    border-radius: 20%;
}

img {
  display: block; 
  margin-left: auto;
  margin-right: auto;
  border-radius: 20%;
}
